{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">สาขาวิทยาการคอมพิวเตอร์</h1>
                    <p class="lead text-white mb-4" style="font-size: 1.75rem;">มหาวิทยาลัยราชภัฏศรีสะเกษ</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#apple">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- apple section-->
<section class="py-5 border-bottom" id="apple">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="card border-0 shadow-lg rounded-4 overflow-hidden">
                    <div class="card-body text-center bg-light p-4">
                        <div class="feature bg-primary text-white rounded-circle d-inline-flex align-items-center justify-content-center mb-3" style="width: 80px; height: 80px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
                            <i class="bi bi-collection fs-4"></i>
                        </div>
                        <h2 class="h4 fw-bold mb-2">สมัครเรียน</h2>
                        <h3 class="h5 text-muted mb-3" style="font-size: 1.1rem;">*คุณสมบัติของผู้สมัคร</h3>
                        <p class="mb-4 text-muted">จบระดับมัธยมศึกษาตอนปลาย ปวช. ปวส. หรือปริญญาตรี ก็สามารถสมัครได้</p>
                        <a class="btn btn-primary btn-lg" href="https://www.oass.sskru.ac.th/std.sskru/s1.html?fbclid=IwAR2S1BxOZNeff9TkRAGmhRp3tchZbF61JbWnWK73VlBNTO4Z4aZnYzwc4lw">
                            สนใจสมัครเรียน
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="card border-0 shadow-lg rounded-4 overflow-hidden">
                    <div class="card-body text-center bg-light p-4">
                        <div class="feature bg-primary text-white rounded-circle d-inline-flex align-items-center justify-content-center mb-3" style="width: 80px; height: 80px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
                            <i class="bi bi-building"></i>
                        </div>
                        <h2 class="h4 fw-bold mb-2">เรียนกับเราได้อะไรบ้าง ?</h2>
                        <p class="mb-4 text-muted">สามารถเปิดโอกาสให้คุณได้รับทักษะและความรู้หลากหลายที่เป็นประโยชน์ทั้งในด้านการทำงานและชีวิตประจำวัน ยังสามารถเปิดโอกาสให้คุณทำงานในหลายๆ ด้าน เช่น การพัฒนาโปรแกรม, การจัดการฐานข้อมูล, การออกแบบเว็บไซต์, การวิจัยทางด้านคอมพิวเตอร์, การพัฒนาเกม, และอื่น ๆ อีกมากมาย</p>
                        <a class="btn btn-primary btn-lg text-decoration-none" href="#study">
                            เพิ่มเติม
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="card border-0 shadow-lg rounded-4 overflow-hidden">
                    <div class="card-body text-center bg-light p-4">
                        <div class="feature bg-primary text-white rounded-circle d-inline-flex align-items-center justify-content-center mb-3" style="width: 80px; height: 80px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
                            <i class="bi bi-toggles2"></i>
                        </div>
                        <h2 class="h4 fw-bold mb-2">จบแล้วทำงานอะไรได้บ้าง ?</h2>
                        <p class="mb-4 text-muted">คุณมีทางเลือกในการทำงานที่หลากหลายมาก ขึ้นอยู่กับความสนใจและทักษะของคุณ งานในสาขาวิทยาการคอมพิวเตอร์มักจะมีความต้องการสูงและสามารถทำงานในหลากหลายอุตสาหกรรม เช่น เทคโนโลยี, การเงิน, การแพทย์, การศึกษา, การบันเทิง, และอื่น ๆ อีกมากมาย</p>
                        <a class="btn btn-primary btn-lg text-decoration-none" href="#occupation">
                            เพิ่มเติม
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- study section-->
<section class="py-5 border-bottom" id="study">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">เรียนกับเราได้อะไรบ้าง ?</h2>
        </div>
        <div class="row gx-4 gy-0 justify-content-center">
            <!-- Card 1 -->
            <div class="col-lg-6 col-xl-4 mb-5">
                <div class="card border-0 shadow-lg rounded-4 overflow-hidden h-100">
                    <div class="card-body p-5">
                        <h4 class="card-title fw-bold mb-3">ทักษะการเขียนโปรแกรม</h4>
                        <p class="card-text">เรียนรู้ภาษาการเขียนโปรแกรมต่างๆ เช่น Python, Java, C++, และอื่นๆ ซึ่งเป็นทักษะพื้นฐานที่สำคัญสำหรับการพัฒนาโปรแกรมและซอฟต์แวร์</p>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-lg-6 col-xl-4 mb-5">
                <div class="card border-0 shadow-lg rounded-4 overflow-hidden h-100">
                    <div class="card-body p-5">
                        <h4 class="card-title fw-bold mb-3">การออกแบบและพัฒนาซอฟต์แวร์</h4>
                        <p class="card-text">เข้าใจหลักการและกระบวนการในการสร้างซอฟต์แวร์ที่มีคุณภาพ รวมถึงการวิเคราะห์ความต้องการของผู้ใช้และการทดสอบ</p>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-lg-6 col-xl-4 mb-5">
                <div class="card border-0 shadow-lg rounded-4 overflow-hidden h-100">
                    <div class="card-body p-5">
                        <h4 class="card-title fw-bold mb-3">การจัดการฐานข้อมูล</h4>
                        <p class="card-text">เรียนรู้การออกแบบและจัดการฐานข้อมูลเพื่อเก็บและจัดการข้อมูลได้อย่างมีประสิทธิภาพ</p>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col-lg-6 col-xl-4 mb-5">
                <div class="card border-0 shadow-lg rounded-4 overflow-hidden h-100">
                    <div class="card-body p-5">
                        <h4 class="card-title fw-bold mb-3">การพัฒนาเว็บและแอปพลิเคชัน</h4>
                        <p class="card-text">เรียนรู้วิธีการออกแบบและพัฒนาเว็บไซต์และแอปพลิเคชันสำหรับอุปกรณ์ต่างๆ</p>
                    </div>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="col-lg-6 col-xl-4 mb-5">
                <div class="card border-0 shadow-lg rounded-4 overflow-hidden h-100">
                    <div class="card-body p-5">
                        <h4 class="card-title fw-bold mb-3">ความปลอดภัยไซเบอร์</h4>
                        <p class="card-text">เรียนรู้วิธีการปกป้องระบบคอมพิวเตอร์จากการโจมตีและภัยคุกคามทางไซเบอร์</p>
                    </div>
                </div>
            </div>
            <!-- Card 6 -->
            <div class="col-lg-6 col-xl-4 mb-5">
                <div class="card border-0 shadow-lg rounded-4 overflow-hidden h-100">
                    <div class="card-body p-5">
                        <h4 class="card-title fw-bold mb-3">โครงสร้างข้อมูลและอัลกอริธึม</h4>
                        <p class="card-text">ศึกษาและเข้าใจโครงสร้างข้อมูลและอัลกอริธึมที่สำคัญในการจัดการและประมวลผลข้อมูลอย่างมีประสิทธิภาพ</p>
                    </div>
                </div>
            </div>
            <!-- Card 7 -->
            <div class="col-lg-6 col-xl-4 mb-5">
                <div class="card border-0 shadow-lg rounded-4 overflow-hidden h-100">
                    <div class="card-body p-5">
                        <h4 class="card-title fw-bold mb-3">ปัญญาประดิษฐ์ (AI) และการเรียนรู้ของเครื่อง (Machine Learning)</h4>
                        <p class="card-text">สำรวจเทคนิคที่ใช้ในการสร้างระบบที่สามารถเรียนรู้และตัดสินใจได้เอง</p>
                    </div>
                </div>
            </div>
            <!-- Card 8 -->
            <div class="col-lg-6 col-xl-4 mb-5">
                <div class="card border-0 shadow-lg rounded-4 overflow-hidden h-100">
                    <div class="card-body p-5">
                        <h4 class="card-title fw-bold mb-3">การวิเคราะห์ข้อมูล (Data Analytics)</h4>
                        <p class="card-text">เรียนรู้วิธีการวิเคราะห์และแปลความหมายจากข้อมูลเพื่อใช้ในการตัดสินใจ</p>
                    </div>
                </div>
            </div>
            <!-- Card 9 -->
            <div class="col-lg-6 col-xl-4 mb-5">
                <div class="card border-0 shadow-lg rounded-4 overflow-hidden h-100">
                    <div class="card-body p-5">
                        <h4 class="card-title fw-bold mb-3">วิทยาการคอมพิวเตอร์เชิงทฤษฎี</h4>
                        <p class="card-text">ศึกษาหลักการทางคอมพิวเตอร์ที่เป็นพื้นฐาน เช่น ทฤษฎีการคอมพิวเตอร์และคณิตศาสตร์ที่เกี่ยวข้อง</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- occupation section-->
<section class="py-5 border-bottom" id="occupation">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">จบแล้วทำงานอะไรได้บ้าง ?</h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10">
                <div class="card border-0 shadow-lg rounded-4 overflow-hidden transition-transform transform-hover" style="min-height: 700px;">
                    <div class="card-body bg-light p-5 text-center">
                        <div class="content text-start">
                            <p class="text-dark mb-4 fs-6">
                                <strong>นักพัฒนาซอฟต์แวร์ (Software Developer/Engineer):</strong>
                                พัฒนาและสร้างโปรแกรมซอฟต์แวร์หรือแอปพลิเคชันที่ใช้งานได้ในหลากหลายแพลตฟอร์ม เช่น เว็บไซต์, แอปมือถือ, หรือโปรแกรมเดสก์ท็อป
                            </p>
                            <p class="text-dark mb-4 fs-6">
                                <strong>นักวิเคราะห์ระบบ (Systems Analyst):</strong>
                                วิเคราะห์ความต้องการของผู้ใช้และออกแบบระบบคอมพิวเตอร์เพื่อแก้ไขปัญหาหรือปรับปรุงกระบวนการทำงาน
                            </p>
                            <p class="text-dark mb-4 fs-6">
                                <strong>นักจัดการฐานข้อมูล (Database Administrator):</strong>
                                ดูแลและจัดการฐานข้อมูล, ทำการสำรองข้อมูล, และตรวจสอบความปลอดภัยของข้อมูล
                            </p>
                            <p class="text-dark mb-4 fs-6">
                                <strong>วิศวกรเครือข่าย (Network Engineer):</strong>
                                ออกแบบและดูแลโครงสร้างพื้นฐานเครือข่าย เช่น การเชื่อมต่อระหว่างคอมพิวเตอร์และเซิร์ฟเวอร์
                            </p>
                            <p class="text-dark mb-4 fs-6">
                                <strong>ผู้เชี่ยวชาญด้านความปลอดภัยไซเบอร์ (Cybersecurity Specialist):</strong>
                                ปกป้องระบบคอมพิวเตอร์และข้อมูลจากภัยคุกคามและการโจมตีทางไซเบอร์
                            </p>
                            <p class="text-dark mb-4 fs-6">
                                <strong>นักวิจัยด้านปัญญาประดิษฐ์ (AI Researcher):</strong>
                                ศึกษาและพัฒนาเทคโนโลยีปัญญาประดิษฐ์และการเรียนรู้ของเครื่อง
                            </p>
                            <p class="text-dark mb-4 fs-6">
                                <strong>นักออกแบบ UX/UI (UX/UI Designer):</strong>
                                ออกแบบประสบการณ์และส่วนติดต่อผู้ใช้ (User Interface) เพื่อให้แน่ใจว่าแอปพลิเคชันหรือเว็บไซต์มีความสะดวกในการใช้งาน
                            </p>
                            <p class="text-dark mb-4 fs-6">
                                <strong>วิศวกรข้อมูล (Data Engineer):</strong>
                                ออกแบบและสร้างโครงสร้างพื้นฐานเพื่อการจัดเก็บและประมวลผลข้อมูลขนาดใหญ่
                            </p>
                            <p class="text-dark mb-4 fs-6">
                                <strong>นักวิเคราะห์ข้อมูล (Data Analyst/Scientist):</strong>
                                วิเคราะห์ข้อมูลเพื่อให้ข้อมูลเชิงลึกและช่วยในการตัดสินใจของธุรกิจ
                            </p>
                            <p class="text-dark mb-4 fs-6">
                                <strong>นักพัฒนาเกม (Game Developer):</strong>
                                สร้างและพัฒนาเกมคอมพิวเตอร์และเกมมือถือ
                            </p>
                            <p class="text-dark mb-4 fs-6">
                                <strong>วิศวกรระบบ (Systems Engineer):</strong>
                                ดูแลการทำงานร่วมกันของฮาร์ดแวร์และซอฟต์แวร์ในระบบคอมพิวเตอร์
                            </p>
                            <p class="text-dark mb-4 fs-6">
                                <strong>ที่ปรึกษาทางด้าน IT (IT Consultant):</strong>
                                ให้คำปรึกษาและแนะนำด้านเทคโนโลยีสารสนเทศแก่ธุรกิจและองค์กร
                            </p>
                            <p class="text-dark mb-4 fs-6">
                                <strong>ผู้พัฒนาแอปพลิเคชันมือถือ (Mobile App Developer):</strong>
                                ออกแบบและพัฒนาแอปพลิเคชันสำหรับสมาร์ทโฟนและแท็บเล็ต
                            </p>
                            <p class="text-dark mb-4 fs-6">
                                <strong>นักวิจัยทางคอมพิวเตอร์ (Computer Scientist):</strong>
                                ทำการวิจัยเพื่อพัฒนาเทคโนโลยีใหม่และศึกษาปัญหาทางด้านคอมพิวเตอร์
                            </p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>

<!-- Contact section-->
<section class="py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-4 text-center">
                <!-- แสดง QR Code โดยไม่มีพื้นหลังหรือกรอบ -->
                <img src="" class="img-thumbnail" alt="...">
            </div>
        </div>
    </div>
</section>



    
    <!-- Contact Information Section -->
    <section class="bg-dark text-light py-5">
        <div class="container px-5">
            <!-- Logo and Title -->
            <div class="text-center mb-5">
                <img src="https://comsci-sskru.web.app/assets/sskro-logo-contact-Btfmtu39.png" alt="Contact Logo" class="img-fluid mb-4" style="max-width: 200px;">
            </div>
            <!-- Contact Details -->
            <div class="row gx-5">
                <!-- Address -->
                <div class="col-lg-4 text-center mb-4">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fas fa-map-marker-alt fa-2x mb-2"></i>
                        <h5 class="card-title mb-2">ที่อยู่</h5>
                        <p class="card-text">มรภ.ศรีสะเกษ 319 ถนนไทยพันทา ต.โพธิ์ อ.เมือง จ.ศรีสะเกษ 33000</p>
                    </div>
                </div>
                <!-- Phone 1 -->
                <div class="col-lg-4 text-center mb-4">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fas fa-phone-alt fa-2x mb-2"></i>
                        <h5 class="card-title mb-2">โทรศัพท์</h5>
                        <p class="card-text">(+66) - 045 - 643 -600 - 5</p>
                    </div>
                </div>
                <!-- Phone 2 -->
                <div class="col-lg-4 text-center mb-4">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa-solid fa-phone fa-2x mb-2"></i>
                        <h5 class="card-title mb-2">โทรศัพท์มือถือ</h5>
                        <p class="card-text">084-298-2456</p>
                    </div>
                </div>
                <!-- Email -->
                <div class="col-lg-4 text-center mb-4">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fas fa-envelope fa-2x mb-2"></i>
                        <h5 class="card-title mb-2">อีเมล</h5>
                        <p class="card-text">webmaster@sskru.ac.th</p>
                    </div>
                </div>
                <!-- Website -->
                <div class="col-lg-4 text-center mb-4">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fas fa-globe fa-2x mb-2"></i>
                        <h5 class="card-title mb-2">เว็บไซต์</h5>
                        <p class="card-text">
                            <a href="https://www.sskru.ac.th" class="text-light" target="_blank">www.sskru.ac.th</a>
                        </p>
                    </div>
                </div>
                <!-- Facebook -->
                <div class="col-lg-4 text-center">
                    <div class="d-flex flex-column align-items-center">
                        <i class="fab fa-facebook-f fa-2x mb-2"></i>
                        <h5 class="card-title mb-2">Facebook</h5>
                        <p class="card-text">
                            <a href="https://www.facebook.com/comsci.sskru" class="text-light" target="_blank">facebook.com/comsci.sskru</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-5">
        <hr>
        <p class="m-0 text-center text-white">Copyright &copy; 2023</p>
        <p class="m-0 text-center text-white">ประสพผล ตาหลอม นศ.วิทยาการคอมพิวเตอร์ มรภ.ศรีสะเกษ</p>
        <p class="m-0 text-center text-white">วรรณกานต์ สมทิพย์ นศ.วิทยาการคอมพิวเตอร์ มรภ.ศรีสะเกษ</p>
        <p class="m-0 text-center text-white">วรพล พรหมคุณ นศ.วิทยาการคอมพิวเตอร์ มรภ.ศรีสะเกษ</p>
    </div>
</footer>

{% endblock content %}